
@{
    ViewData["Title"] = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


    <div class="container Contact">
        <div class="main text-center">
            <h1>Contact Us</h1>
            <p>Where There Is A Will, There Is A Way...</p>
            <div class="row">
                <div class="col-md-4">
                    <i class="fa fa-map"></i>
                    <h5>ADDRESS</h5>
                    <p>FPT University</p>
                </div>

                <div class="col-md-4">
                    <a href="https://www.facebook.com/Moclananhh.dev" target="_blank">
                        <i class="fa fa-facebook"></i>
                    </a>
                    <h5>FACEBOOK</h5>
                    <p>Trương Hoài Thanh</p>
                </div>

                <div class="col-md-4">
                    <i class="fa fa-envelope"></i>
                    <h5>EMAIL</h5>
                    <p>Group01@fpt.edu.vn</p>
                </div>
            </div>
        </div>
    </div>




