@model PRN_Project.Models.Bill

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
    List<Detail> details = ViewBag.ChiTiet;
}

<table class="table" id="table">
    <thead>
        <tr>
            <th>ID Product</th>
            <th>Price</th>
            <th>Amount</th>
        </tr>
    </thead>
    <tbody>
        @if (details != null && details.Count() > 0)
        {
            foreach (var item in details)
            {
                <tr>
                    <td>@item.IdProduct</td>
                    <td>@item.Price</td>
                    <td>@item.Amount</td>
                </tr>
            }
        }
    </tbody>
</table>
<div>
   
</div>

